/*
[name]清新蓝[/name]
[iconbgcolor]#4b9ffe[/iconbgcolor]
*/

/* 导航 */
#hd .ggq-nvon,#hd .ggq-nvon li,.ggq-bbsg .bbsg-onyl .onyl-qhon li.on,.ggq-bbsc h2,.ggq-bktw .bktw-h2 {background: #4b9ffe;}
.scbar_btn_td {background-color: #4b9ffe;}
#hd .ggq-nvon li.a a, #hd .ggq-nvon li a:hover, #hd .ggq-nvon li.hover a {color: #fff;background: #3c7ec7;}
.ggq-nvbl .h_pop {background: #3c7ec7;}
.ggq-nvbl .h_pop li a {color: #fff;border-bottom: 1px solid #5c8fc7;}

/* 按钮 */
.ggq-bbsg .bbsg-onzl .onzl-ksft,.ggq-bbsg .bbsg-hdim .hdim-imon li a span,.ggq-zfan a,.ggq-bkon .bkon-czan .czan-sc,.ggq-bkft .ptm .pnc,.ggq-nrkh .pnpost .pnc,.ggq-fbzt a,.ggq-zfan .ggq-qzfa {background: -webkit-linear-gradient(left top, #99db5f , #87c14f);background: -o-linear-gradient(bottom right, #99db5f, #87c14f);background: -moz-linear-gradient(bottom right, #99db5f, #87c14f);background: linear-gradient(to bottom right, #99db5f , #87c14f);}

/* 翻页 */
.pgs {}.pgs #newspecial, .pgs #newspecialtmp, .pgs #post_reply, .pgs #post_replytmp { float: left; margin-right: 5px; }
.pg { float: right; }
.pg, .pgb { line-height: 30px; }
.pg a, .pg strong, .pgb a, .pg label { float: left; display: inline; margin-left: 4px; padding: 0 12px; height: 30px; border: 0; border-color: #e0e0e0; background-color: #fff; background-repeat: no-repeat; color: #333; overflow: hidden; text-decoration: none;border-radius: 3px;}
.pg a.nxt, .pgb a { padding: 0 10px; }
.pg a:hover, .pgb a:hover { border-color:#3f4954; color:#FFF; background:#3f4954;}
.pg a.nxt { padding-right: 25px; background-image: url(arw_r.gif); background-position: 90% 50%;}
.pg a.prev { background-image: url(arw_l.gif); background-position: 50% 50%; }
.pg a.prev:hover{ background:#3f4954 url(arw_l1.png) no-repeat; background-position: 50% 50%; }
.pg a.nxt:hover { padding-right: 25px; background:#3f4954 url(arw_r1.png) no-repeat; background-position: 90% 50%; }
.pg strong { background:#3f4954; border-color:#3f4954; font-weight:normal; color:#FFF;}
.pgb a { padding-left: 25px; background-image: url(arw_l.gif); background-position: 10px 50%; }
.pgb a:hover { padding-left: 25px; background:#3f4954 url(arw_l1.png) no-repeat; background-position: 10px 50%; }
.pg label { cursor: text;}
.ie6 .pg label { padding-top: 3px; height: 23px; }
.pg label .px { padding: 0; width: 25px; height: 16px; line-height: 16px; }
#pgt .pg, #pgt .pgb { margin-top: 5px; }
